* {
    margin: 0;
    padding: 0;
}

body {

    color: white;
    font-family: 'poppins', sans-serif;

}
 /* navbar*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181858;
    height: 60px;
    padding: 0 8%;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {

    margin: 0 35px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {

    color: rgb(128, 156, 233);
    font-size: 1.03rem;
}

.simpal-note {
    text-align: center;
    background-color: rgb(8 17 41);
    color: gray;
    font-size: 0.8rem;
}
 
.left {
    font-size: 2rem;

}
/* main section*/
.firstSection {
    display: flex;
    background-color: rgb(8 17 41);
    justify-content: space-between;
    padding: 6.5% 8%;
    align-items: center;
}

.leftSection {
    width: 50%;
    font-size: 2.5rem;

}

button {
    padding: 8px;
    background-color: #3535b8;
    color: white;
    border-radius: 3px;
    border: solid white 1px;
    margin-top: 80px;

}

.rightSection {
    width: 30%;
}

.rightSection img {
    width: 100%;
    height: 350px;
    border: 2px solid white;
    border-radius: 50%;
}

.text-Purpal {
    color: #3b3bca;
}

.text-gray {
    color: rgb(201, 196, 196);
    font-size: 0.8rem;
    padding-left: 60px;
}

#element {
    color: #3b3bca;

}

/* Secound section*/
.secondSection {
    margin: 1% 2%;
    width: 90%;
    height: 110vh;

}

.secondSection h1 {
    font-size: 1.1rem;
    color: black;
    padding-left: 60px;
}

.secondSection .box {
    height: 1px;
    background-color: black;
    margin: 60px;
    display: flex;
    justify-content: space-around;

}

div .vertical-line {

    height: 50px;
    width: 1px;
    position: relative;
    left: -90px;
    color: black;
    background-color: black;
    margin: 0 6vw;

}

.top-image {
    width: 120px;
    position: relative;
    top: 15px;
    left: 40px;
    height: 30px;
}

.vertical-title {
    width: 260px;
    position: relative;
    top: 30PX;


}

.vertical-describe {
    width: 260px;
    color: gray;
    font-size: 0.8rem;
    position: relative;
    top: 40PX;

}
/* footer*/
footer {
    height: 25vh;
    background-color: #181858;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 13%;
}
footer ul li {
    font-size: 0.8rem;
    padding: 4px 0;
    list-style: none;
}

.bottom {
    text-align: center;
    color: gray;
    font-size: 0.8rem;
    padding: 10px 0;
    background-color: #181858;
}